body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.title {
    width: 100%;
    height: 80px;
    text-align: center;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    font-weight: 100;
}

.grid-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

table {
    /* display: grid; */
    border-collapse: collapse;
    border: 0px solid black;
    /* grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px); */
    /* padding: 10px; */
    /* width: 459px;
    height: 459px; */
    /* margin: 0 auto;
    margin-top: 50px;
    margin-left: 300px; */
    padding: 30px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2); */
    /* justify-content: center;
    align-content: center; */
    /* grid-gap: 0rem;
    list-style: none;
    padding: 0;
    font-size: 10px; */
}

td {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 50px;
    height: 50px;
    transition: 0.2s;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* span {
        margin-top: 0.4rem;
    }   */
}

td:hover {
    background-color: lightyellow;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid black;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

td:focus {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 25px;
    border: 1px solid black;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

input {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 50px;
    height: 50px;
    font-size: 25px;
    box-shadow: 5px;
    background-color: transparent;
    display: none;
    /* position: relative; */
}


input:focus {
    display: initial;
}


tr:nth-child(4) td {
    border-top-width: 4px;
}
tr:nth-child(7) td {
    border-top-width: 4px;
}
td:nth-child(3) {
    border-right-width: 4px;
}
td:nth-child(6) {
    border-right-width: 4px;
}
tr:nth-child(1) td {
    border-top-width: 4px;
}
td:nth-child(1) {
    border-left-width: 4px;
}
td:nth-child(9) {
    border-right-width: 4px;
}
tr:nth-child(9) td {
    border-bottom-width: 4px;
}


.buttons-container {
    width: 100%;
    height: 100px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.buttons {
    width: 459px;
    display: flex;
    justify-content: space-between;
}

button {
    /* margin: 10px; */
    height: 50px;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

button:hover {
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.2s;
}

button:active {
    height: 50px;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: 0s;
}

#new-game {
    background-color: blue;
    opacity: 0.8;
}

#restart {
    background-color: red;
}

#hint {
    color: black;
    background-color: yellow;
}

#auto-solve {
    background-color: #4CAF50; /* Green */  
}